.frtck-loader {
  position: absolute;
  margin-top: -39px;
  margin-left: 125px;
}
.button_loading {
  border: 7px solid #398fcc;
  border-radius: 50%;
  border-top: 7px solid #ffa902;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
